@media (max-width: 1310px) {
  .container {
    max-width: 1000px !important;
    margin: 0 auto !important;
  }

  .side_bar {
    width: 48px;
  }

  .side_bar_link {
    width: 48px;
  }

  .twitter_logo {
    padding: 0.2rem 0.5rem;
  }

  .side_bar_link {
    padding: 0.8rem;
  }

  .side_bar_link span {
    display: none;
  }

  .post_body {
    margin-left: 3rem;
  }

  .tweet_btn {
    display: none;
  }

  .none {
    display: block;
    margin-left: -1rem;
  }

  .profile_link {
    padding-left: 0.3rem;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 6.8rem;
  }

  .audience {
    width: 8.5vw;
  }
  .audience__ {
    width: 15.9vw;
  }

  .post_body_heading {
    width: 32.2rem;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 700px !important;
    margin: 0 auto !important;
    padding-left: 0.5rem !important;
  }

  .right_bar {
    display: none;
  }

  .hahstag {
    display: none;
  }

  .none_search {
    display: block;
  }

  .post_body {
    margin-left: 1.5rem;
  }

  .audience {
    width: 12vw;
  }
  .audience__ {
    width: 22vw;
  }

  .post_body_heading {
    width: 39.2rem;
  }
}

@media (max-width: 714px) {
  .audience {
    width: 18vw;
  }
  .audience__ {
    width: 32vw;
  }

  .hl__ {
    display: none;
  }
}

@media (max-width: 702px) {
  .post_body_heading {
    position: static;
    width: 100%;
  }

  .user_tweet {
    margin-top: 0;
  }
}

@media (max-width: 499px) {
  .side_bar {
    display: none;
  }

  .nav_btn {
    position: absolute;
    display: block;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .post_body {
    position: relative;
    margin-left: 0;
    border: none;
    overflow: visible;
  }

  .container {
    padding-left: 0 !important;
  }

  .body_flex {
    gap: 0;
  }

  .user_tweet {
    display: none;
  }

  .post_body_heading_link h3 {
    visibility: hidden;
  }

  #body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .tweet_nav {
    display: block;
    position: fixed;
    right: -1rem;
    bottom: 4.5rem;
  }

  .fixed_menu {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    border-top: 1px solid #2f3336;
  }

  .fixed_menu a {
    font-size: 1.7rem;
  }

  .body_user_post {
    margin-bottom: 100rem !important;
    margin-top: 7rem;
  }

  .side_bar_link {
    width: 52px;
  }

  .post_body_heading {
    position: fixed;
  }

  .twitter_logo_ {
    display: block !important;
    position: absolute;
    text-align: center;
    width: 100%;
    text-decoration: none !important;
    font-size: 1.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 30px;
    transition: 0.2s;
  }

  .hll:nth-child(4) {
    display: none;
  }

  .hll_cover {
    padding-right: 0 !important;
  }

  .break {
    display: block;
  }
}
